################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intermediate/Build/Win64/FPSGameEditor
